.vscode/**
.vscode-test/**
out/test/**
src/**
private/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
images/phihex.1024.png
images/phihex.ico
images/screenshot/**
desktop.ini
